@using MyVideoGames.WebUI.Resources
@model GameListViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}

@*Affichage à l'aide d'un foreach (classique)*@
<email>c.fevre166@gmail.com</email>


@* @foreach (var game in Model.Games) *@
@* { *@
@*     <div class="row"> *@
@*         <div class="col">@game.Id</div> *@
@*         <div class="col">@game.Slug</div> *@
@*         <div class="col">@game.Name</div> *@
@*         <div class="col">@game.ReleaseDate</div> *@
@*         <div class="col">@game.Rating / @game.RatingTop</div> *@
@*         <div class="col">@game.PlayTime</div> *@
@*         <div class="col">@game.Description.Substring(0, 100) [...]</div> *@
@*         <div class="col">@game.Plateform.Name</div> *@
@*     </div> *@
@* } *@

@*Affichage via une vue partielle*@
@foreach (var game in Model.Games)
{
    <partial name="Partials/_GameList" model="@game"/>
}

@section ORT {
    @* <h1>@Resources.Strings.WelcomeMessage</h1>*@
    <h1>Bienvenue !</h1>    
}

@section Scripts
{
    <script>
        //alert("TEST");
    </script>
}