<!-- Passenger/Index.cshtml -->
@model IEnumerable<FlightManager.Model.Passenger>

@{
    ViewData["Title"] = "Passenger List";
}

<h1>Liste des passagers</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Prix du billet</th>
            <th>check</th>
            <th>Numero de vol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var passenger in Model)
        {
            <tr>
                <td>@passenger.Id</td>
                <td>@passenger.FirstName</td>
                <td>@passenger.LastName</td>
                <td>@passenger.Age</td>
                <td>@passenger.TicketPrice</td>
                <td>@(passenger.IsCheckedId ? "Oui" : "Non")</td>
                <td>@(passenger.Flight != null ? passenger.Flight.Id.ToString() : "")</td>
            </tr>
        }
    </tbody>
</table>
